<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
  }
  .quote-class {
    display: flex;
    align-items: center;
    height: 150px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
  }
  .super-class {
    display: flex;
    justify-content: center;
  }
</style>

<% layout("/layouts/boilerplate") %>
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-atom"></i></div>
    <p>IIT-JEE</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-capsules"></i></div>
    <p>NEET</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-military-rifle"></i></div>
    <p>UPSC</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-gears"></i></div>
    <p>GATE</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-1"></i><i class="fa-solid fa-2"></i> S</div>
    <p>XII-Science</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-earth-americas"></i></div>
    <p>GRE</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-rocket"></i></div>
    <p>Engineering</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-om"></i></div>
    <p>Languages</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-receipt"></i></div>
    <p>CA</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-1"></i><i class="fa-solid fa-2"></i> C</div>
    <p>XII-Commerce</p>
  </div>

  <div class="tax-toggle">
    <div class="form-check form-switch form-check-reverse">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckReverse"
      />
      <label class="form-check-label" for="flexSwitchCheckReverse"
        >Display total after taxes
      </label>
    </div>
  </div>
</div>

<div class="super-class">
  <div class="quote-class">
    <p style="font-weight: 600">
      <i
        >Every year more than 320 million of books get recycled, but along with
        these books, the knowledge inside them gets washed away too! Vidhya
        Balam emphasizes the redistribution of these books so knowledge get
        preserved!</i
      >
    </p>
  </div>
</div>

<div class="row rows-cols-lg-3 rows-cols-md-2 rows-cols-sm-1 mt-4">
  <% for(let listing of allListings){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <!-- inbuilt bootstrap class  jo upar h-->

      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %> <br /></b>
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
          <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckReverse");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline"; // changes none to inline;
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
